{{template "base" .}}

{{define "title"}}Create a New User{{end}}

{{define  "main"}}
    <form action="/user/register" method="POST">
        {{with .Form}}
            <div>
                <label>FirstName:</label>
                {{with .Errors.Get "first_name"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type="text" name="first_name" value='{{.Get "first_name"}}'>
            </div>
            <div>
                <label>LastName:</label>
                {{with .Errors.Get "last_name"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type="text" name="last_name", value='{{.Get "last_name"}}'>
            </div>
            <div>
                <label>Age:</label>
                <select name="age">
                    {{range $i, $e := seq 18 99}}
                        <option value="{{$e}}">{{$e}}</option>
                    {{end}}
                </select>
            </div>
            <label for="gender">Gender:</label>
            {{with .Errors.Get "gender"}}
                <label class='error'>{{.}}</label>
            {{end}}
            {{$exp := or (.Get "gender") "male"}}
              <input type='radio' name='gender' value='male' {{if (eq $exp "male")}}checked{{end}}> Male
              <input type='radio' name='gender' value='female' {{if (eq $exp "female")}}checked{{end}}> Female
            </select>
            <div>
                <label>City:</label>
                {{with .Errors.Get "city"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type="text" name="city", value='{{.Get "city"}}'>
            </div>
            <div>
                <label for="interests">Interests:</label>
                {{with .Errors.Get "interests"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <textarea name="interests" id="interests"></textarea>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        {{end}}
</form>
{{end}}