{{template "base" .}}

{{define "title"}}User #{{.User.ID}}{{end}}

{{define "main"}}
    {{with .User}}
    <div class="user">
        <div class="metadata">
            <strong>{{.FirstName}}</strong>
            <strong>{{.LastName}}</strong>
        </div>
        <pre><code>Interests: {{.Interests}}</code></pre>
        <div class="metadata">
            <time>Registered At: {{humanDate .CreatedAt}}</time>
        </div>
        <div style="border: 2px solid #007bff; background-color: #f2f2f2; padding: 10px; width: 120px; text-align: center;">
            <button class="add-friend-button">Add Friend</button>
        </div>
    </div>
    {{end}}
{{end}}