{{template "base" .}}

{{define "title"}}User #{{.User.ID}}{{end}}

{{define "main"}}
    <div class="user">
        <div class="metadata">
            <strong>{{.User.FirstName}}</strong>
            <strong>{{.User.LastName}}</strong>
        </div>
        <pre><code>Interests: {{.User.Interests}}</code></pre>
        <div class="metadata">
            <time>Registered At: {{humanDate .User.CreatedAt}}</time>
        </div>

        {{if not (eq .User.ID .AuthenticatedUserID)}}
            <div style="border: 2px solid #007bff; background-color: #f2f2f2; padding: 10px; width: 120px; text-align: center;">
            <form action='/user/{{.User.ID}}/add' method='POST'>
                <button class="add-friend-button">Add Friend</button>
            </form>
        {{else}}
             <h2>Friend requests</h2>
                 {{if .User.FiendRequests}}
                     <table>
                         <tr>
                             <th>Name</th>
                             <th></th>
                         </tr>
                         {{range .User.FiendRequests}}
                             <tr>
                                 <td><a href="/user/{{.SenderUserID}}">{{.SenderUserID}}</a></td>
                                 <td><a>
                                    <form action='/user/{{.SenderUserID}}/accept' method='POST'>
                                        <button class="accept-friend-request-button">Accept</button>
                                    </form>
                                 </a></td>
                             </tr>
                         {{end}}
                     </table>
                 {{else}}
                     <p>There's nothing to see here yet!</p>
                 {{end}}

             <h2>Friends</h2>
                  {{if .User.FiendRequests}}
                      <table>
                          <tr>
                              <th>Name</th>
                          </tr>
                          {{range .User.Friends}}
                              <tr>
                                  <td><a href="/user/{{.}}">{{.}}</a></td>
                              </tr>
                          {{end}}
                      </table>
                  {{else}}
                      <p>There's nothing to see here yet!</p>
                  {{end}}
        </div>
    </div>
    {{end}}
{{end}}